<!DOCTYPE html>
<html ng-app="OerMapper">
<head>
  <title>OerMapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: "layouts/nav_bar" %>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
